.verify-email-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 75px);
  padding: 20px;
}

.verify-email-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 25px;
}

.verify-email-page__status-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100px;
  height: 100px;
  padding: 15px;
  margin-right: 10px;

  background-color: var(--accent);
  border-radius: 50%;
  font-size: 70px;
}

.verify-email-page__status-icon--error {
  background-color: var(--destructive);
}

.verify-email-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 80%;
  padding-left: 10px;
  border-left: 2px solid var(--foreground);
}

.verify-email-page__title {
  font-size: 2.25em;
  font-weight: 900;
  color: var(--primary);
}

.verify-email-page__message {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--primary);
}

.verify-email-page__button {
  padding: 10px 25px;
  border-radius: var(--radius);

  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary);
  background-color: var(--destructive);

  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.verify-email-page__button:hover {
  background-color: var(--destructive-foreground);
  color: var(--primary-foreground);
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1024px) {
  .verify-email-page__container {
    flex-direction: row;
  }

  .verify-email-page__status-icon {
    margin-right: 30px;
  }
  .verify-email-page__content {
    width: fit-content;
    padding: 30px;
  }

}