/* ========================== HOME PAGE ========================== */

.appointments-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;

  background-color: var(--background);
  color: var(--foreground);
}

.appointments-page__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  width: 100%;
  height: calc(100dvh - 90px);
  min-height: fit-content;
}

.appointments-page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  width: 75%;
}

.appointments-page__title {
  font-size: 1.85em;
  font-weight: 900;
  line-height: 1.35;
}

.appointments-page__subtitle {
  font-weight: 300;
  line-height: 1.2;
}

/* ===== FILTROS ===== */

.appointments-page__filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

  width: fit-content;
  padding: 20px;

  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.appointments-page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  width: 100%;
}

/* --- CALENDARIO --- */
.appointments-page__calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  width: 100%;
  max-width: 350px;
  min-height: fit-content;
  height: 367px;

  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 7px;
  overflow: hidden;

  color: var(--primary);
}

/* --- headers --- */
.appointments-page__calendar .react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  background-color: var(--accent);
}

.appointments-page__calendar .react-calendar__navigation button {
  padding: 12px 16px;

  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 1em;
  color: var(--primary-foreground);
}

.appointments-page__calendar .react-calendar__navigation button:hover {
  background-color: color-mix(
    in srgb,
    var(--accent) 70%,
    var(--accent-foreground) 30%
  );
}

.appointments-page__calendar .react-calendar__navigation button:disabled {
  cursor: default;
}

.appointments-page__calendar .react-calendar__navigation button:disabled:hover {
  background-color: var(--accent);
}

/* --- info calendario --- */
.react-calendar__viewContainer,
.react-calendar__month-view > div,
.react-calendar__month-view > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* dias de la semana */
.react-calendar__month-view__weekdays {
  width: 100%;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  text-transform: uppercase;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  color: color-mix(in srgb, var(--medium) 50%, var(--primary));
}

/* dias del mes */
.react-calendar__month-view__days {
  max-width: 350px;
  height: 100%;

  border-top: 1px solid var(--border);
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  height: 45px;

  font-size: 0.9em;
  color: var(--primary);
}

.react-calendar__month-view__days__day:disabled {
  background-color: color-mix(in srgb, var(--medium) 10%, transparent);

  color: color-mix(in srgb, var(--medium) 70%, var(--primary));

  cursor: default;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--destructive);
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__month-view__days__day--weekend
  .react-calendar__month-view__days__day--neighboringMonth {
  color: color-mix(in srgb, var(--medium) 10%, var(--primary) 10%);
}

.react-calendar__tile--now {
  background-color: color-mix(
    in srgb,
    var(--accent) 20%,
    var(--accent-foreground) 10%
  );
}

.react-calendar__month-view__days__day:hover:not(:disabled) {
  background-color: color-mix(
    in srgb,
    var(--accent) 60%,
    var(--accent-foreground) 20%
  );

  color: var(--light);
  font-weight: 600;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd,
.react-calendar__tile--rangeBothEnds {
  background-color: var(--accent);

  color: var(--light);
  font-weight: 600;

  transition: all 0.25s ease;
}

.appointments-page__form-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 30px;
  border-radius: var(--radius);

  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-foreground);

  background-color: var(--accent);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* ===== SEPARADOR ===== */
.appointments-page__divider {
  width: 100%;
  max-width: 1000px;
  margin: 50px 0;
  height: 2px;
  border: none;
  background-color: var(--border);
}

.appointments-page__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  padding-top: 20px;
}

.appointments-page__reminder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  max-width: 750px;
  height: 175px;
  padding: 15px;

  background-color: var(--accent);
  border-radius: var(--radius);

  color: var(--primary-foreground);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.appointments-page__reminder-icon {
  font-size: 1.5rem;
}

.appointments-page__reminder-text {
  font-size: 1em;
  font-weight: 600;
}

/* ===================== RESPONSIVE ===================== */

/* ===== TABLET (768px - 1023px) ===== */
@media screen and (min-width: 768px) {
  .appointments-page__intro {
    width: 100%;
    gap: 75px;
    justify-content: safe;
  }

  .appointments-page__header {
    max-width: 650px;
    gap: 25px;
  }

  .appointments-page__subtitle {
    text-align: center;
  }
}
