/* ========================== AVAILABLE APPOINTMENTS PAGE ========================== */

.available-appointments-page {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 100%;
  padding: 20px;

  background-color: var(--background);
  color: var(--foreground);
}

.available-appointments-page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  max-width: 750px;
  margin: 0 auto;
  gap: 10px;
}

.available-appointments-page__title {
  width: 100%;
  
  font-size: 1.85em;
  font-weight: 800;
  line-height: 1.35;
}
.available-appointments-page__title-date {
  display: block;
  font-size: 1.5em;
  font-weight: 900;
  color: var(--accent);
}

.available-appointments-page__subtitle {
  font-weight: 300;
  line-height: 1.2;
}

.available-appointments-page__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 100%;
  max-width: 1000px;
}

/* Card Item */
.available-appointments-page__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  max-width: 600px;
  height: 75px;
  padding: 10px 20px;

  color: var(--primary);

  background-color: var(--background);
  border-radius: var(--radius);
  border: 1px solid var(--accent);
  transition: all 0.3s ease;
  box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.25);
}

/* Card Item - Status */
.available-appointments-page__item--ocupado {
  background-color: var(--secondary);
}
.available-appointments-page__item--cancelado {
  background-color: var(--destructive);
  color: var(--primary);
}

.available-appointments-page__time {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary);
}

/* Card Button */
.available-appointments-page__button {
  max-width: 50%;
  padding: 10px 25px;
  border-radius: var(--radius);
  margin-left: auto;

  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-foreground);
  background-color: var(--accent);

  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.available-appointments-page__button:hover {
  background-color: var(--accent);
  color: var(--primary-foreground);
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


/* Card Button - Status */
.available-appointments-page__button--ocupado {
  padding: 0px;

  color: var(--primary);
  background-color: transparent;
  box-shadow: none;
}
.available-appointments-page__button--cancelado {
  padding: 0px;

  color: var(--primary);
  background-color: transparent;
  box-shadow: none;
}
.available-appointments-page__button--ocupado:hover,
.available-appointments-page__button--cancelado:hover {
  background-color: transparent;
  color: var(--primary);
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}


/* ===== SEPARADOR ===== */
.available-appointments-page__divider {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--border);
  margin: 20px 0;
}

.available-appointments-page__extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.available-appointments-page__text{
  text-align: center;
}

.available-appointments-page__actions-back {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 30px;
  border-radius: var(--radius);

  font-size: 1.05em;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-foreground);
  background-color: var(--accent);

  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.available-appointments-page__actions-back:hover {
  background-color: var(--accent);
  color: var(--primary-foreground);
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}